{% extends "inventory/base.html" %}

{% load static %}

{% block head %}    
<link rel="stylesheet" href="{% static 'inventory/style.css' %}">
{% endblock %}

{% block content %}

<div class="center-content">
    <p>Welcome!</p>
    <p>What changes would you like to register today?</p>
    <p>Would you like to inspect the profit / revenue report?</p>
    <div class="button-container">
        <a href="{% url 'menuslist' %}" class="button">Menus</a>
        <a href="{% url 'ingredientslist' %}" class="button">Ingredients</a>
        <a href="{% url 'purchaseslist' %}" class="button">Purchases</a>
        {% comment %}
        <a href="{% url 'receiperequirements' %}" class="button">Receipes</a>
        {% endcomment %}
        <a href="{% url 'sales_report' %}" class="button">Reports</a>
    </div>

{% endblock %}